@media screen and (max-width: 1115px) {
	header {
		position: static;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 15px 10px 15px 10px;
		z-index: 3;
		img {
			height: 95px;
			width: 90px;
		}
		nav {
			ul {
				list-style: none;
				display: flex;
				margin: 2px;
				padding: 5px;
				flex-direction: column;
			}
		}
	}
	.galeria {
		display: grid;
		grid-auto-rows: 200px;
		grid-template-columns: repeat(3, 1fr);
	}
	.Item-Galeria {
		grid-column: span 1;
		grid-row: span 1;
	}
	.Item-8 {
		grid-column: span 2;
	}
	footer {
		flex-direction: column;
		align-items: center;
	}
	
	nav {
		ul {
			flex-direction: column;
		}
	}
	.tarjetas {
		display: flex;
		flex-wrap: wrap;
	}
	.AlignmentMat {
		.Alig-contenedor {
			display: flex;
			flex-direction: column;
		}
	}
	.AligContenedor-img {
		justify-content: center;
	}
}
@media screen and (max-width: 576px) {
	header {
		img {
			height: 90px;
			width: 80px;
		}
		h1 {
			font-size: 30px;
		}
	}
	.galeria {
		display: grid;
		grid-auto-rows: 200px;
		grid-template-columns: repeat(2, 1fr);
	}
	.Item-Galeria {
		grid-column: span 1;
		grid-row: span 1;
	}
}
